# Ignore everything but the specified files
*

!LICENSE
!README.md

!config.fish

!functions/fish_prompt.fish
!functions/git_get_branch.fish
!functions/start_agent.fish
!functions/start_ssh_agent.fish
!functions/test_identities.fish
